<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Library</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="menu">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:class="${activePage == 'index'} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/biblioteca}">Home<span class="sr-only">(current)</span></a>
        </li>
     <li class="nav-item" th:class="${activePage == 'bookList'} ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" th:href="@{/books}">View Books<span class="sr-only">(current)</span></a>
      </li>

            <li sec:authorize = "isFullyAuthenticated()" class="nav-item" th:class="${activePage == 'checkout'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/checkout}">Checked out/Return Book</a>
            </li>

            <li sec:authorize="isAnonymous()" class="nav-item" th:class="${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/login}">Login</a> </li>
            <li sec:authorize="isAnonymous()" class="nav-item" th:class="${activePage == 'Registration'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/users/registration}">Register</a> </li>
        <li sec:authorize="isAuthenticated()" class="nav-item" th:class="${activePage == 'Registration'} ? 'nav-item active' : 'nav-item'" >
            <a class="nav-link" href='/logout'>Sign Out</a></li>
    </ul>
      <span sec:authorize="isAuthenticated()">
              <p style="color:White;" >  | Logged user Id: <span sec:authentication="name"></span> | </p>
         <!--       Roles: <span sec:authentication="principal.authorities"></span> | -->
            </span>
        </div>
  </div>

</nav>
<div th:fragment="header" >
    <h1 style="background-color:DodgerBlue;color:White;" align="center" >Biblioteca</h1>
</div>
</body>
</html>