<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <style>

th, td {
  padding: 15px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>

<td th:text="${errorMessage}"></td>

<div  th:if="${books != null}">
<H1> List of Books</H1>
<br>

<table>
    <thead>
    <tr>
        <th>Book Name</th>
        <th >Author</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="book : ${books}">

        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
    </tr>
    </tbody>

</table>
</div>

<p>
    <a href="/" >Home Page</a>





</p>
</body>
</html>