<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<head>
    <style>
th, td {
  padding: 15px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>

    <script>
$(document).ready(function() {
  $('#example').DataTable({

    "ordering": true,
    columnDefs: [{
      orderable: false,
      targets: "no-sort"
    }]

  });
});
</script>

    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>

<div th:include="~{fragments/header}"></div>
<div sec:authorize="isAnonymous()">
   <p> Welcome Visitor </p>
</div>

<td th:text="${errorMessage}"></td>


<div  th:if="${books != null}">
    <H1> List of Books</H1>
    <br>
    <table id ="example" class ="display">
        <thead>
        <tr>
            <th >Book Name </th>
            <th >Author </th>
            <th class="no-sort"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">


            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td>
               <span th:if="${book.isAvailable}">
            <a th:href="@{/books/checkout/{id}(id=${book.id})}">Checkout</a>
               </span>
                <span th:if="${!book.isAvailable}">Not Available </span>

            </td>
        </tr>
        </tbody>

    </table>
</div>


<p>
    <a href="/" >Home Page</a>

</p>
</body>
</html>