<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<head th:replace = "~{fragments/header}" >

    <script>
$(document).ready(function() {
  $('#example').DataTable({

    "ordering": true,
    columnDefs: [{
      orderable: false,
      targets: "no-sort"
    }]

  });
});
</script>

    <meta charset="UTF-8">
    <title>Checked out books</title>
</head>
<body>
<style>

th, td {
  padding: 15px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

    <H1> Books checked out by you</H1>
    <br>


    <table id ="example" class ="display">
        <thead>
        <tr>

            <th >Book Name </th>
            <th >Author </th>
            <th class="no-sort"></th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">

            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td>
               <span th:if="${!book.isAvailable}">
            <a th:href="@{/return/{id}(id=${book.id})}">Return</a>
               </span>
                <span th:if="${book.isAvailable}">Not Checked Out </span>

            </td>

        </tr>
        </tbody>

    </table>
</div>


<p>
 <!--   <a href="/" >Home Page</a>
    <a href="/books" >View Books</a>
-->
</p>
</body>
</html>