<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <title>Home Page</title>
</head>
<body>

    <div></div>
    <div class="container">
        <div class="hero-unit">
            <h1 style="background-color:DodgerBlue;color:White;" align="center" >Biblioteca</h1>
            <p style="font-color:red;font-family:courier;">
                Welcome to Biblioteca. Your one-stop-shop for great book titles in Bangalore!
                Get started quickly by signing up.
            </p>
           <p style="font-color:blue;font-family:verdana;">
               <a href="/books" >View Books</a>
                <a href="/users/registration" >Sign up</a>
                <a href="/login" >Login</a>
              </p>
          </div>
      </div>
  </body>
  </html>