<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
</head>
<body>
    <div></div>

    <div class="container">
        <div class="hero-unit">
            <h1 align="center" >Biblioteca</h1>
            <p>
                Welcome to Biblioteca. Your one-stop-shop for great book titles in Bangalore!
                Get started quickly by signing up.
            </p>
            <p>
                <a href="/books" >View List Of Books</a>
            </p>
        </div>
        <div ></div>
    </div>
</body>
</html>