<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace = "~{fragments/header}" >
    <meta charset="UTF-8">
    <title>Returned Book successful</title>
    <style>
    body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ABB5D4;
    }
</style>
</head>
<body>

<td th:text="${message}"></td>
<br>
<br>
<!-- <a href="/books">View Book List</a>
<p>
    <a href="/" >Home Page</a>
</p> -->
</body>
</html>